.cart{
display: flex;
flex-direction: row;
}
.cart-main{
 max-width: 70%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
}
.cart-item{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
background-color: rgba(232, 232, 232, 0.665);
border-radius: 12px;
/* grid:1rem; */

}
.total-card{
  background-color: rgba(232, 232, 232, 0.665);
 display: flex;
 flex-direction: column;
 gap: 3rem;
 width: 30%;
 height: 400px;
 margin-top:5rem;
 margin-left:1rem;
 padding: 2rem;
 border-radius: 12px;
}
.cart-item-container{
  max-width: 400px;
  background-color: rgb(177, 180, 180);
/* gap:2rem;
display:flex; */
margin:2rem
}
.control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:1rem
}
.inc-btn{
  width: 12px;
  height: 12px;
}