.filter-container{
 height: 60px;
 background-color: rgba(232, 232, 232, 0.665);;
 margin-top:4rem;
 margin-bottom: 1rem;
 border-radius: 12px;
 display: flex;
 align-items: center;
 justify-content:space-evenly;
 padding: 1rem;
}
.filters{
 display: flex;
 align-items: center;
 justify-content: center;
}
.filter-title{
 margin:1rem
}